html>
<body>
   <div>
      <table border="0" cellpadding="0" cellspacing="0" style="BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; WIDTH: 270PX; BORDER-BOTTOM: #000000 1px solid">
         <tbody>
            <tr>
               <td style="width:15px;">  </td>
               <td align="center" style="width:210px;" colspan="1">
                  <center><span class="heading2"><b>Sri Guruvayurappan Temple</b></span></center>
                  <center><span class="label">11620 Ormandy St <br>Houston, Texas 77035<br></span></center>
                  <center><span class="label">Tel:713-729-8994<br>www.guruvayurappanhouston.org</span></center>
                  <center></center>
               </td>
               <tdstyle="width:15px;">
               <td>
            </tr>
            <tr>
               <td colspan="3" align="center" class="heading2"> <b>RECEIPT FORSERVICES</b></td>
            </tr>
            <tr>
               <td class="gridtext"><b>&nbsp;Receipt Total ($)</b></td>
               <td class="gridtext" style="TEXT-ALIGN: right" width="55%"><b>11.00</b></td>
            </tr>
         </tbody>
      </table>
   </div>
</body>
</html>